# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files and folders
.env
.venv/
venv/
ENV/
env/
*.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other specific directories
dist/
build/
*.egg-info/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
